body {
    font-family: Helvetica;
    font-weight: 100;
    background: #bdb9b9;
    margin: 0;
    padding: 0;
}
.tittle{
    text-align: center;
    margin-right: 8%;
}
.feed_de_instagram {
    border-bottom: 1px;
    border-color: #edeeee;
    background: white;
    overflow: hidden;
    margin-bottom: 60px;
}
.page_header>div {
    width: 600px;
    margin: auto;
}
.container {
    width: 600px;
    margin-left: 31%;

}
.post{
    background-color:white;
    width: 400px;
}
.Post_titulo {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo_container h2 {
    font-size: 18px;
    
}